<div class="container">
  <div class="card card-container" *ngIf="step1">
    <p id="d-name" class="profile-name-card"></p>
    <pre style="max-height: 400px;overflow-scrolling: auto; overflow-wrap: break-spaces">
      重要声明
你承认、理解并同意，如果你是下列地理区域或国家的公民、国民、居民（税务或其他）、居所 和/或绿卡持有人，你将无资格购买任何的PIDEX（i）PIDEX的出售很可能被解释为出售一种证券 （无论如何命名）或投资产品和/或（ii）适用法律、法令、条例、条约或行政法禁止访问或参与PIDEX数字资产销售或PIDEX World平台，和/或（包括但不限于美利坚合众国、加拿大、新西兰、中华人 民共和国和大韩民国）

所有的出资将被用于提高、促进一个分布式全球游戏社区的研究、设计和开发、倡导，该社区以一种新的游戏模式和激励系统运行，使忠实游戏玩家适当地得到报酬，并使游戏开发者通过透明的营销工具接触玩家，让真正的游戏爱好者能够与其他玩家分享他们的体验。本公司和/或其各附属公司将开发、管理 和运营PIDEX World平台

本白皮书仅用于通知PIDEX的潜在贡献者，阐述我们的愿景及针对PIDEX系统的架构和技术方法的建议和意见。本白皮书在各方面均不具有约束力，不对任何方形成任何种类的法律义务。它仅用于信息传递目的，不得包含在任何合约内，不承诺传递任何材料、代码或功能，请自行判断是否决定购买。

PIDEX系统的最终实施将受到监管风险，参与者的参与以及所采用的开发技术的影响。PIDEX系统的最终实施受制于法规及监管政策的变动、捐助者参与力度及系统所采用技术的开发程度。无论任何阶段，任何情况（包括但不限于基于法律法规及相关政策要求或任何商业业务所需的情况），关于本白皮书所涉及的技术和产品的开发事宜，PIDEX均有独断决定权。本白皮书所做陈述仅供参考，不构成任何承诺，谨请诸 位充分考虑自身的风险承受能力，自行判断后进行捐助和/或参与。

玩家在参与游戏和线上游戏时需承担风险，软件可能会遭遇攻击，出现漏洞、运营者错误和其它不可预测的问题，可能会导致所存储的价值丢失。

此外，你承认，情况可能会发生变化，因此本白皮书可能因此而过时;本公司 没有义务进行与此种情况有关的更新或更正。

请仔细阅读白皮书中“法律考虑，风险和免责声明”部分的内容。
        </pre>
    <button class="btn btn-lg btn-outline-primary btn-block btn-signin" type="submit" (click)="step2=true;step1=false;">{{'agree'|translate}}</button>
    <button class="btn btn-lg btn-outline-primary btn-block btn-signin" type="submit" >{{'notagree'|translate}}</button>
  </div>
  <div class="card card-container" *ngIf="step2">
    <p id="d-nsame" class="profile-name-card"></p>
    <form class="form-signin">
      <span id="d-email" class="reauth-email"></span>
      <input  [(ngModel)]="name" name="inputEmail" class="form-control" [placeholder]="'yourname'|translate" required autofocus>
      <input [(ngModel)]="idnum"  name="inputPhone" class="form-control" [placeholder]="'idnum'|translate" required>
      <input [(ngModel)]="country"  name="inputPhone" class="form-control" [placeholder]="'country'|translate" required>
      <input [(ngModel)]="age" type="number" name="inputPhone" class="form-control" [placeholder]="'age'|translate" required>


      <!--label>
        <input type="checkbox" value="remember-me"> Remember me
      </label-->

      <button class="btn btn-lg btn-outline-primary btn-block btn-signin" type="submit" (click)="reg()">{{'submit'|translate}}</button>
      <div *ngIf="newusr">
        <!--p >你的 password 是 {{newusr.Password}}</p>
        <!--p >你的 TOTP Key 是 {{newusr.Key}}</p>
        <p-- >這些資料只會出現一次，請謹記。</p-->
        <p>{{'loginandbuy'|translate}}</p>
      </div>
    </form>
  </div>
</div>
