<div class="container">
  <div class="card card-container login" >
    <!-- <img class="profile-img-card" src="//lh3.googleusercontent.com/-6V8xOA6M7BA/AAAAAAAAAAI/AAAAAAAAAAA/rzlHcD0KYwo/photo.jpg?sz=120" alt="" /> -->
    <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
    <p id="profile-name" class="profile-name-card"></p>
    <form class="form-signin">
      <span id="reauth-email" class="reauth-email"></span>
      <input  [(ngModel)]="authData.email" type="email" name="inputEmail" class="form-control" [placeholder]="'email'|translate" required autofocus>
      <input [(ngModel)]="authData.password" type="password" name="inputPassword" class="form-control" [placeholder]="'password'|translate " required>

      <div id="remember" class="checkbox">
        <!--label>
          <input type="checkbox" value="remember-me"> Remember me
        </label-->
      </div>
      <button class="btn btn-lg btn-dark btn-block btn-signin" type="submit" (click)="add()">{{'login'|translate}}</button>
      <p *ngIf="faillogin">{{'loginfailed'|translate}}</p>
    </form><!-- /form -->
    <!--a class="forgot-password">
      Forgot the password?
    </a><br-->
    <a class="btn btn-primary btn-sm" (click)="open(content)">
      {{'register'|translate}}
    </a>
  </div><!-- /card-container -->

</div><!-- /container -->


<ng-template #content let-modal>
  <div class="modal-header">
    <h4>{{'register'|translate}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="card card-container" >
      <p id="d-name" class="profile-name-card"></p>
      <form class="form-signin">
        <span id="d-email" class="reauth-email"></span>
        <input  [(ngModel)]="emailreg" type="email" name="inputEmail" class="form-control" [placeholder]="'email'|translate" required autofocus>
        <div class="input-group">
          <ngx-intl-tel-input [(ngModel)]="phonereg" name="inputPhone" [enablePlaceholder]="false"></ngx-intl-tel-input>
          <input [(ngModel)]="pwreg" type="password" name="inputPfhone" class="form-control" [placeholder]="'password'|translate " required>
          <input [(ngModel)]="pwreg2" type="password" name="inputfPhone" class="form-control" [placeholder]="'confirmpass'|translate" required>
          <p *ngIf="pwnm">Passwords do not match</p>
        </div>



        <!--label>
          <input type="checkbox" value="remember-me"> Remember me
        </label-->


      </form>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-lg btn-outline-primary btn-block btn-signin" type="submit" (click)="reg()">Register</button>
    <div *ngIf="newusr">
      <!--p >你的 password 是 {{newusr.Password}}</p>

      <p-- >這些資料只會出現一次，請謹記。</p-->
      <p>{{'loginandbuy'|translate}}</p>
    </div>
  </div>
</ng-template>
