
<div class="container pt">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h3>Token</h3>
        </div>
        <div class="card-body">
          <div class="jumbotron">
            <h1>
              {{balance.result*1500/1000000000000000000}} BACCHUS
            </h1>
            <p>~{{balance.result/1000000000000000000}} ETH</p>
          </div>
          <div class="row">
            <div class="col-12">
              <button class="btn btn-primary btn-lg" (click)="open(content)" disabled>
                發送
              </button>
              <button class="btn btn-primary btn-lg" (click)="open(content2)">
                購買
              </button>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row pt">
    <div class="col-md-9">
      <div class="card">
        <div class="card-header">
          <h3>History</h3>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-12">
              <app-history></app-history>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-12">
              <button class="btn btn-outline-primary btn-lg">
                Whitepaper
              </button>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <button class="btn btn-outline-primary btn-lg">
                MVP Version
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Send BACC</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Your Ethereum Address</p>
    <input class="form-control"  placeholder="0x.........."/>
    <pre>Do not withdraw tokens to an exchange and only withdraw to wallets which support ERC20 tokens (MEW, Metamask, MIST, Ethereum wallet and others)
    </pre>
    <p>Amount BACS</p>
    <input class="form-control"  placeholder="20"/>
    <pre>Min Withdrawal: 20 BACS
    </pre>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Send</button>
  </div>
</ng-template>


<ng-template #content2 let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Receive</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="input-group mb-3">
      <input type="text" class="form-control" [value]="user.Pub" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="button-addon2">
      <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="button" id="button-addon2">Copy</button>
      </div>
    </div>
    <pre>Send BACS to this address</pre>
  </div>
</ng-template>
